.review-item img {
  width: 91px;
}
.review-item {
  display: flex;
  border: 1px solid gray;
  width: 571px;
  margin: 21px auto;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.review-details p {
  margin: 0;
}
.review-details-container {
  display: flex;
  margin-left: 17px;
  justify-content: space-between;
  width: 100%;
}

.btn-delete {
  width: 55px;
  height: 55px;
  border: none;
  background-color: rgb(235, 62, 31);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.delete-icon {
  font-size: 31px;
  color: rgba(243, 100, 75, 0.918);
}

.delete-container {
  display: flex;
  align-items: center;
}
.btn-delete:hover {
  background-color: rgb(235, 164, 143);
  cursor: pointer;
}
